{% extends "layout/two_col.html" %}
{% load helper %}
{% block title %}更改会员密码{% endblock %}
{% block nav %}
	<a href="../../../">首页</a>&gt;
	<a href="../../">会员列表</a>&gt;
	<a href="#">更改会员密码</a>
{% endblock %}
{% block main %}
	<h1>更改会员密码</h1>
	{% url members.views.change_password id as u%}
	<form id="member_change_password_form" action="{{u}}" method="post">
		{{ form.non_field_errors }}
	    {% for field in form %}
	        <div class="member-form-item">
	            {{ field.errors }}
	            {{ field.label_tag }}
	            {{ field }}
	        </div>
	    {% endfor %}
	    {% div_submit "确定" %}
	</form>
{% endblock %}