{% load helper %}
<div class="help_item">
{% div_text "0.目录" "" "title" %}
<p>
总是拖延到脚踩死线？总是过着今天睡今天起的日子？ <br/>
Liveline帮你战胜拖延症！把所有的Deadline告诉我，我俩约定提醒的时间，不论在哪里，我都会忠诚地提醒监督你。<br/>
不过，咱可要做好约定：相互坦诚，精诚合作。完成任务我定会奖励，没完成赶紧承认错误。要是骗我，我就再也不理你了= =！<br/>
完成任务，分享给你的好友——加分又升级，让大家共同努力战胜拖延症。<br/>
早睡早起签到——昨天睡今天起才是美好的人生！<br/>
关注好友，比拼战绩——跟朋友比比看，谁才是战拖界的神牛。<br/>
赶紧注册账号，跟我共同战拖吧！<br/>
</p>
{% div_link "#help_chapter_1" "1.注册与登录" "" "subtitle" %}
{% div_link "#help_chapter_2" "2.任务(Deadline)" "" "subtitle" %}
{% div_link "#help_chapter_3" "3.用户" "" "subtitle" %}
{% div_link "#help_chapter_4" "4.积分" "" "subtitle" %}
</div>
{% hr_dot %}
<div class="help_item">
<a name="help_chapter_1"></a>
{% div_text "1.注册与登录" "" "title" %}
{% div_text "1.1注册" "" "subtitle" %}
<p>
注册需要填写用户名(4-16，仅限字母开头，由字母、数字、下划线组成)，密码(重复一次, 6-16位)和邮箱(用于激活邮件)。<br/>
注册完成之后，请至邮箱接收激活邮件，点击邮件中的链接激活。<br/>
如果未收到邮件，可以选择重新激活，输入原用户名、密码，如果需要更换邮箱，可以填写邮箱一栏。完成后将再次发送激活邮件，
并且之前的激活链接均失效。
</p>
{% div_text "1.2登录" "" "subtitle" %}
<p>
必须首先激活才能登录。<br/>
登录需要填写用户名(4-16，仅限字母开头，由字母、数字、下划线组成)和密码(重复一次, 6-16位)，成功后可以看到用户的首页。<br/>
</p>
</div>
{% hr_dot %}
<div class="help_item">
<a name="help_chapter_2"></a>
{% div_text "2.任务(Deadline)" "" "title" %}
{% div_text "2.1新任务" "" "subtitle" %}
<p>
在首页界面的右方会显示“创建新任务"，点击展开后可以填写新的任务，包括如下几项：<br/>
标题，任务的标题，不超过40个字。<br/>
描述，任务的详细描述，不超过200个字。<br/>
截止时间，任务的Deadline，点击后可以方便地选择日期和时间。<br/>
是否提醒，默认选中，选中后需要填写提醒时间（提醒时间必须在截止时间之前），提醒将会通过Java桌面程序/Android App来产生相应提醒。<br/>
提醒时间，任务的提醒时间。<br/>
优先级，任务的优先级，0为最不重要，9为最重要。<br/>
是否分享，默认选中，选中后任务将带有分享属性，你的所有创建、完成、未完成的操作都会将任务的相关信息发送到人人网，以接受人人网好友的监督。<br/>
选择“创建”后，会自动跳转到任务界面。<br/>
</p>
{% div_text "2.2任务页面" "" "subtitle" %}
<p>
任务页面会显示该任务所属用户的基本信息以及任务本身的信息。<br/>
除了2.1节中提到的几项外，还有时间差（显示截止时间与现在的差距），创建时间，更新时间，是否完成，是否结束等项。<br/>
任务页面中还有任务的状态（进行中，判定中，已完成，未完成四种）。<br/>
进行中表示截止时间未达，可进行的操作有：完成，未完成，编辑，删除任务。<br/>
判定中表示截止时间已过，但判定时间（截止时间延后1天）未达，可进行的操作有：完成，未完成。<br/>
已完成与未完成表示任务结束，不可进行其余操作。<br/>
如果任务设置了需要分享，则完成和未完成的操作都会将任务的相关信息发送到人人网。<br/>
任务页面还包含有其他用户对该用户的评论，用户可以在所有任务页面发表自己对该任务的评论。<br/>
</p>
{% div_text "2.3任务列表" "" "subtitle" %}
<p>
首页和用户的个人主页都将显示用户的任务列表。<br/>
任务列表分为进行中和已结束两个，进行中又分为按时间排序由近及远和按优先级从高到低排序两种。<br/>
任务列表中的任务会显示标题、描述、截止时间、评论数以及任务的状态。<br/>
</p>
{% div_text "2.4签到任务" "" "subtitle" %} 
<p>
签到任务属于一种特殊的任务。早起签到在早上6点至8点签到，早睡签到在晚上9点至12点签到，两种签到每日一次。<br/>
签到有助于帮助用户建立良好的作息时间，早睡早起，方能养生。<br/>
</p>
</div>
{% hr_dot %}
<div class="help_item">
<a name="help_chapter_3"></a>
{% div_text "3.用户" "" "title" %}
{% div_text "3.1个人主页页面" "" "subtitle" %}
<p>
个人主页页面的左方显示用户的基本信息，包括用户名，邮箱，战拖宣言，头像，积分板以及当前时钟。<br/>
个人主页页面的左方还有关注按钮，可对该主页的用户进行关注或取消关注。<br/>
战拖宣言，积分板以及时钟有助于激励用户与其他用户竞争、比较，最终战胜拖延症。<br/>
个人主页页面的右方显示该用户的任务列表。<br/>
</p>
{% div_text "3.2更改资料页面" "" "subtitle" %}
<p>
在更改资料页面，用户可以对自己的邮箱，密码，战拖宣言，头像进行更改。<br/>
战拖宣言不超过200个字符。<br/>
除了上传头像外，更改其余资料均需要原始密码。<br/>
用户的头像建议尺寸为256*256。<br/>
大头像（显示在用户的首页和个人主页中）将上传头像按比例压缩至宽为256像素。<br/>
小头像（显示在评论、排名、关注列表中）将取上传头像中间的正方形部分压缩至64*64。<br/>
</p>
{% div_text "3.3关注页面" "" "subtitle" %}
<p>
个人主页的页面可进行关注用户和取消关注的操作。<br/>
用户可以在首页和关注页面中看到用户的“谁关注我”和“我的关注“两个列表，列表将显示用户的用户名，头像和积分板，以激励用户完成任务。<br/>
此外，用户可以在关注页面看到完整的”谁关注我”和“我的关注”两个列表<br/>
</p>
{% div_text "3.4排名页面" "" "subtitle" %}
<p>
在排名页面将显示积分前100位的用户列表，列表将显示用户的用户名，头像和积分板。<br/>
</p>
</div>
{% hr_dot %}
<div class="help_item">
<a name="help_chapter_4"></a>
{% div_text "4.积分" "" "title" %}
<p>
用户的积分将按照如下规则进行计算:<br/>
完成一个任务+3；如果分享完成了这个任务，则再+1；如果这个任务在截止日期三天之前完成，则再+1。<br/>
每天完成3个任务以后完成任务不再增加积分。<br/>
不完成一个任务-3；如果分享了不完成这个任务，则再+1；<strong>超过了判定日期（截止时间延后1天）且没有主动点击未完成的任务</strong>自动判为未完成，并且再-3。<br/>
编辑一个任务-1。<br/>
删除一个任务-3。<br/>
早起签到+1，如果昨天也签到，则再+1；<br/>
早睡签到+1，如果昨天也签到，则再+1；<br/>

用户等级lv = sqrt(score) + 1;
</p>
</div>