{% extends 'one_box.html' %}
{% load helper %}
{% block title %}注册{% endblock %}
{% block header %}
<script type="text/javascript">
	$('ul#nav li#nav_register').addClass('selected');
</script>
{% endblock %}
{% block main %}
<div id='main_holder'>
	{% div_text "注册" "reg_title" "title" %}
	{% hr_dot %}
	{% if has_account %}
		<ul class="errorlist"><li>
			您已经登录！请登出后再注册！<a class="inner" href={% url django.contrib.auth.views.logout %}>点击此处</a>登出!
		</li></ul>
	{% endif %}
	{% if created %}
		<div class="message">
			成功注册！请登录邮箱{{ email }}完成激活！
		</div>
	{% endif %}
	{% if form %}
	<form class="register" action="" method="post">
		{{ form.non_field_errors }}
	    {% form_label_text "用户名" "reg_item" "id_username" form.username %}
	    {% form_label_text "密码" "reg_item" "id_password" form.password %}	
	    {% form_label_text "重复密码" "reg_item" "id_password_confirm" form.password_confirm %}
	    {% form_label_text "邮箱" "reg_item" "id_email" form.email %}	
		{% div_submit "注册" "reg_button" %}
	</form>
	<script type="text/javascript">
    	$('form.register input#id_username').change(function(){
    	if (!/^[a-zA-Z][a-zA-Z0-9_]{3,15}$/.test($(this).val()))
    		$(this).parent().err($.error.username_invalid);
    	else $(this).parent().err();
    	});
		$('form.register input#id_password').change(function(){
			var i = $('form.register input#id_password_confirm');
			if ($(this).val().length < 6 || $(this).val().length > 16)
				$(this).parent().err($.error.password_invalid);
        	else if (i.val() && $(this).val() != i.val()) {
        		$(this).parent().err();
            	i.parent().err($.error.password_mismatch);
        	}
			else {
        		$(this).parent().err();
        		i.parent().err();
			}
		});
		$('form.register input#id_password_confirm').change(function(){
			var i = $('form.register input#id_password');
        	if ($(this).val().length < 6 || $(this).val().length > 16)
				$(this).parent().err($.error.password_invalid);
        	else if ($(this).val() != i.val())
            	$(this).parent().err($.error.password_mismatch);
			else {
        		$(this).parent().err();
        		i.parent().err();
			}
		});
		$('form.register input#id_email').change(function(){
			if (!/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test($(this).val())) 
				$(this).parent().err($.error.email_invalid);
			else
				$(this).parent().err();
		});
    	$('form.register').submit(function(){
        	var u = $(this).find('input#id_username');
        	var p = $(this).find('input#id_password');
        	var c = $(this).find('input#id_password_confirm');
        	var e = $(this).find('input#id_email');
        	if (!/^[a-zA-Z][a-zA-Z0-9_]{3,15}$/.test(u.val())) {
            	u.parent().err($.error.username_invalid);
            	return false;
        	}
        	if (p.val().length < 6 || p.val().length > 16) {
            	p.parent().err($.error.password_invalid);
            	return false;
        	} 
        	if (c.val().length < 6 || c.val().length > 16) {
            	c.parent().err($.error.password_invalid);
            	return false;
        	} 
        	if (p.val()!=c.val()) {
            	c.parent().err($.error.password_mismatch);
            	return false;
        	} 
        	if (!/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(e.val())) {
            	e.parent().err($.error.email_invalid);
            	return false;
        	}
        	return true;
    	});
    </script>
	{% endif %}
</div>
{% endblock %}