{% extends "layout/two_col.html" %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("div.delete a").click(function(event){
				if (confirm("你确定要删除此书目以及其相关的进货记录与销售记录?"))
					return true;
				else
					return false;
			});
		});
	</script>
{% endblock %}
{% load helper %}
{% load pagination_tags %}
{% block title %}书目列表{% endblock %}
{% block nav %}
	<a href="../">首页</a>&gt;
	<a href="#">书目列表</a>
{% endblock %}
{% block main %}
	{% if message %}
	<ul class="messagelist">
		<li>{{message}}</li>
	</ul>
	{% endif %}
	<h1>书目列表</h1>
	{% url books.views.new as u %}
	{% div_link u "添加书目" "" "add link"%}
	{% url books.views.search as u %}
	{% div_link u "查找书目" "" "search link"%}
	{% autopaginate books 5 %}
	<table cellspacing="0">
		<thead>
			<tr>
				<th>编号</th>
				<th>ISBN编号</th>
				<th>标题</th>
				<th>作者</th>
				<th>出版社</th>
				<th>库存</th>
				<th>零售价</th>
			</tr>
		</thead>
		<tbody>
			{% for book in books %}
				<tr>
					<th>{{book.id}}</th>
					<th>{{book.isbn}}</th>
					<th>{{book.title}}</th>
					<th>{{book.author}}</th>
					<th>{{book.press}}</th>
					<th>{{book.count}}</th>
					<th>{{book.sale_price}}</th>
					<th>
						{%url books.views.show book.id as u%}
						{%div_link u "查看" "" "show link"%}
					</th>
					<th>
						{%url books.views.edit book.id as u%}
						{%div_link u "编辑" "" "edit link"%}
					</th>
					<th>
						{%url books.views.delete book.id as u%}
						{%div_link u "删除" "" "delete link"%}
					</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% paginate %}
{% endblock %}