html, body, textarea, div, span, pre, input {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: "Microsoft Yahei","Helvetica Neue",Arial,"Liberation Sans",FreeSans,sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0; 	
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type=text], input[type=password], textarea, select {
	border: 1px solid #CCC;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {  
    -webkit-box-shadow: 0px 0px 10px #007eff;  
    -moz-box-shadow: 0px 0px 10px #007eff;  
    box-shadow: 0px 0px 10px #007eff;  
} 

.clearfix {
	clear: both;
	height: 0px;
}

table {
	font-weight: normal;
	border-collapse: collapse;
}

th {
	text-align: left;
	font-weight: normal;
	border: 1px solid #DDD;
	max-width: 300px;
	word-break: break-all;
}

thead th {
	font-weight: bold;
	color: #666;
}

form label {
	float: left;
	width: 8em;
}


a {
	text-decoration: none;
	color: #5B80B2;
}

a:hover {
	font-weight: bold;
}

.errorlist li {
	margin: 2px;
	padding: 2px 2px 2px 22px;
	background: #ffc0cb url(/media/image/icon_error.gif) 0.25em 0.25em no-repeat;
	border: #ff0000 1px solid;
}

.messagelist li {
	margin:2px;
	padding: 2px 2px 2px 22px;
	background: #c0ffc0 url(/media/image/icon_success.gif) 0.25em 0.25em no-repeat;
	border: #00ff00 1px solid;
}

