#header {
	padding: 5px;
	background: #417690;
	color: #FFC;
	overflow: hidden;
}

#branding {
	color: white;
	float: left;
}

#user_tool {
	color: white;
	float: right;
}

#user_tool a {
	color: #add8e6;;
}

#main_holder {
	overflow: hidden;
}

#nav {
	padding: 5px;
	color: #add8e6;
	background: #fff1b9;
	overflow: hidden;
}

#main {
	padding: 5px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

div.add a {
    padding-left: 21px;
    background: url(/media/image/plus.png) no-repeat;
	background-size: contain;
}

div.edit a {
	padding-left: 21px;
	background: url(/media/image/edit.png) no-repeat;
	background-size: contain;
}

div.show a {
	padding-left: 21px;
	background: url(/media/image/info.png) no-repeat;
	background-size: contain;
}

div.delete a {
	padding-left: 21px;
	background: url(/media/image/trash.png) no-repeat;
	background-size: contain;
}

div.search a {
	padding-left: 21px;
	background: url(/media/image/search.png) no-repeat;	
	background-size: contain;
}

div.pay a {
	padding-left: 21px;
	background: url(/media/image/donate.png) no-repeat;	
	background-size: contain;
}

div.true .text {
	padding-left: 21px;
	background: url(/media/image/tick.png) no-repeat;
	background-size: contain;
}

div.item label {
	font-weight: bold;	
}

div.item .text {
	padding-left: 2em;
}

.book-form-item, .purchase-form-item, .sale-form-item, .member-form-item, .group-form-item {
	margin: 2px;
	padding: 2px;
}

.manage-item {
	border: 1px solid #DDD;
	margin: 5px 0;
	width: 400px;	
}

.manage-title {
	background: linear-gradient(top, #bcd2e9, #7ba0c6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bcd2e9), to(#7ba0c6));
	background: -webkit-linear-gradient(top, #bcd2e9, #7ba0c6);
	background: -moz-linear-gradient(top, #bcd2e9, #7ba0c6);
	background: -ms-linear-gradient(top, #bcd2e9, #7ba0c6);
	background: -o-linear-gradient(top, #bcd2e9, #7ba0c6);
}

.manage-title .text{
	padding: 5px;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
}

.manage-module {
	padding: 5px;
}
