#header {
	background: #417690;
	color: #FFC;
	overflow: hidden;
}

#main_holder {
	overflow: hidden;
}

#nav {
	height: 40px;
	overflow: hidden;
}

#main {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

div.add a {
    padding-left: 12px;
    background: url(/media/image/icon_addlink.gif) 0 .2em no-repeat;
}
