#header {
	padding: 5px;
	background: #417690;
	color: #FFC;
	overflow: hidden;
}

#branding {
	color: white;
	float: left;
}

#user_tool {
	color: white;
	float: right;
}

#user_tool a {
	color: #add8e6;;
}

#main_holder {
	overflow: hidden;
}

#nav {
	padding: 5px;
	color: #add8e6;
	background: #fff1b9;
	overflow: hidden;
}

#main {
	padding: 5px;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	float: left;
}

div.add a {
    padding-left: 12px;
    background: url(/media/image/icon_addlink.gif) 0 .2em no-repeat;
}

div.edit a {
	padding-left: 12px;
	background: url(/media/image/icon_changelink.gif) 0 .2em no-repeat;
}

div.show a {
	padding-left: 12px;
	background: url(/media/image/selector-addall.gif) 0 .2em no-repeat;
}

div.delete a {
	padding-left: 12px;
	background: url(/media/image/icon_deletelink.gif) 0 .2em no-repeat;
}

div.true .text {
	padding-left: 12px;
	background: url(/media/image/icon-yes.gif) 0 .2em no-repeat;
}

div.item label {
	font-weight: bold;	
}

div.item .text {
	padding-left: 2em;
}

.book-form-item, .purchase-form-item, .sale-form-item, .member-form-item, .group-form-item {
	margin: 2px;
	padding: 2px;
}
