{% extends "layout/two_col.html" %}
{% load helper %}
{% block title %}书籍{% endblock %}
{% block nav %}
	<a href="../../../">首页</a>&gt;
	<a href="../../">进货列表</a>&gt;
	<a href="#">编辑进货</a>
{% endblock %}
{% block main %}
	{% url purchases.views.edit id as u%}
	<form id="new_purchase_form" action="{{u}}" method="post">
		{{ form.non_field_errors }}
	    {% for field in form %}
	        <div class="purchase-form-item">
	            {{ field.errors }}
	            {{ field.label_tag }}
	            {{ field }}
	        </div>
	    {% endfor %}
	    {% div_submit "保存" %}
	</form>
{% endblock %}