{% extends "layout/two_col.html" %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("div.pay a").click(function(event){
				if (confirm("你确定已经支付了此批进货?"))
					return true;
				else
					return false;
			});
		});
	</script>
{% endblock %}
{% load helper %}
{% block title %}查看进货{% endblock %}
{% block nav %}
	<a href="../../../">首页</a>&gt;
	<a href="../../">进货列表</a>&gt;
	<a href="#">查看进货</a>
{% endblock %}
{% block main %}
	{% if message %}
	<ul class="messagelist">
		<li>{{message}}</li>
	</ul>
	{% endif %}
	<h1>查看进货</h1>s
	{%url purchases.views.edit purchase.id as u%}
	{%div_link u "编辑" "" "edit link"%}
	{%url purchases.views.delete purchase.id as u%}
	{%div_link u "删除" "" "delete link"%}
	{% div_label_text purchase.id "id_id" "" "编号" %}
	{% div_label_text purchase.book "id_book" "" "书目标题" %}
	{% div_label_text purchase.price "id_price" "" "进货价" %}
	{% div_label_text purchase.count "id_count" "" "数量" %}
	{% div_label_text purchase.paid "id_paid" "" "是否支付" %}
	{% div_label_text purchase.create_at "id_create_at" "" "创建时间" %}
	{% div_label_text purchase.update_at "id_update_at" "" "修改时间" %}
	{% ifequal purchase.paid 0 %}
		{%url purchases.views.pay purchase.id as u%}
		{%div_link u "支付" "" "pay link"%}
	{% endifequal %}
{% endblock %}