{% extends "layout/two_col.html" %}
{% load helper %}
{% block title %}查看进货{% endblock %}
{% block nav %}
	<a href="../../../">首页</a>&gt;
	<a href="../../">进货列表</a>&gt;
	<a href="#">查看进货</a>
{% endblock %}
{% block main %}
	<h1>查看进货</h1>
	{% div_label_text purchase.book "id_book" "" "书目标题" %}
	{% div_label_text purchase.price "id_price" "" "进货价" %}
	{% div_label_text purchase.count "id_count" "" "数量" %}
	{% div_label_text purchase.paid "id_paid" "" "是否支付" %}
	{% div_label_text purchase.create_at "id_create_at" "" "创建时间" %}
	{% div_label_text purchase.update_at "id_update_at" "" "修改时间" %}
{% endblock %}