{% extends "layout/two_col.html" %}
{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("div.delete a").click(function(event){
				if (confirm("真的要删除此会员组？"))
					return true;
				else
					return false;
			});
		});
	</script>
{% endblock %}
{% load helper %}
{% block title %}查看会员组{% endblock %}
{% block nav %}
	<a href="../../../">首页</a>&gt;
	<a href="../../">会员组列表</a>&gt;
	<a href="#">查看会员组</a>
{% endblock %}
{% block main %}
	{% if message %}
	<ul class="messagelist">
		<li>{{message}}</li>
	</ul>
	{% endif %}
	<h1>查看会员组</h1>
	{%url groups.views.edit group.id as u%}
	{%div_link u "编辑" "" "edit link"%}
	{%url groups.views.delete group.id as u%}
	{%div_link u "删除" "" "delete link"%}
	{% div_label_text group.id "id_id" "item" "编号" %}
	{% div_label_text group.name "id_name" "item" "名称" %}
	{% div_label_text group.discount "id_discount" "item" "折扣" %}
	<label>会员</label>
	<ul>
		{% for member in group.members.all %}
			<li>{{member}}</li>
		{% endfor %}
	</ul>
	{% div_label_text group.create_at "id_create_at" "item" "创建时间" %}
	{% div_label_text group.update_at "id_update_at" "item" "更新时间" %}
{% endblock %}