{% extends "layout/two_col.html" %}
{% load helper %}
{% block title %}管理系统{% endblock %}
{% block nav %}
	<a href="#">首页</a>
{% endblock %}
{% block main %}
	{% url books.views.index as u%}
	{% div_link u "书目管理" "" "module" %}
	{% url purchases.views.index as u%}
	{% div_link u "进货管理" "" "module" %}
	{% url sales.views.index as u%}
	{% div_link u "交易管理" "" "module" %}
	{% url members.views.index as u%}
	{% div_link u "会员管理" "" "module" %}
	{% url groups.views.index as u%}
	{% div_link u "会员组管理" "" "module" %}
{% endblock %}